@font-face {
    font-family: "SamimFD";
    src: url("./Samim-FD.eot"), url("./Samim-FD.woff") format("woff"),
        url("./Samim-FD.woff2") format("woff2"), url("./Samim-FD.ttf") format("truetype");
    font-weight: normal;
}